.header-wrapper {
  width: 100%;
}

.top-logo-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #ffffff;
}

.top-logo-bar img {
  height: 60px;
  object-fit: contain;
}

.main-navbar {
  background-color: #0b73c5 !important;
  padding: 10px 0;
}

.nav-links .nav-link {
  color: white !important;
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
}

.nav-links .nav-link:hover {
  opacity: 0.8;
}

.nav-icons .icon-btn {
  color: white;
  font-size: 20px;
  margin-left: 15px;
}

.icon-btn:hover {
  color: #e4e4e4;
}
